s<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">Projects</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mattsstuff04@gmail.com">email</a></li>
	        		<li><a href="https://github.com/mattsstuff04">github.com/mattsstuff04</a></li>
				</ul>
			</footer>
		</body>
	</html>
